$body-bg: #dcdddd;

$primary: #155f59;
$secondary: #e90e66;
$danger: #dd0000;
$success: rgb(81, 163, 81);
$warning: rgb(155, 160, 109);
$info: aqua;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark
) !default;
